.summary {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 5px;
  .money-value {
    font-size: 20px;
    font-family: "Roboto";
    color: #87a2bd;
    margin-bottom: 0;
  }
  .cart-item-count {
    color: #797e83;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 0;
  }
  .check-out {
    background-color: #166ed3;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    border-width: 0;
    padding: 10px;
    font-family: "Roboto";
  }
}
