<!-- navContainer-->

<div class="home-container">
  <div class="home-content">
    <h1 class="primary">Clothes That Get YOU Noticed</h1>
    <img
      src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-img.png"
      alt="homeImage"
      class="mobile-image"
    />
    <p class="secondary">
      Fashion is part of the daily air and it does not quite help that it
      changes all the time. Clothes have always been a marker of the era and we
      are in a revolution. Your fashion makes you been seenand heard that way
      you are. So,celebrate the seasons new and exciting fashion in your own
      way.
    </p>
    <a routerLink="/products">
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="shop-nowButton"
      >
        Shop Now
      </button>
    </a>
  </div>
  <img
    src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-img.png"
    alt="homeImage"
    class="desktop-image"
  />
</div>
